<div
  class="main-div"
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="baseline"
  fxLayoutGap="2rem"
>
  <div>
    <app-info-box
      title="Customer"
      icon="user"
      action="view detail"
      (actionTrigger)="handleTriggerAction($event)"
    >
      <h4 style="color: blue;">James Schmitz</h4>
      <h4>Nieder & co</h4>
      <p>Berlin germany</p>
      <p>+111-111-111</p>
    </app-info-box>
  </div>
  <div>
    <app-info-box title="Customer" icon="building" action="view detail">
      <h4 style="color: blue;">James Schmitz</h4>
      <!-- <h4>Nieder & co</h4>
                <p>Berlin germany</p>
                <p>+111-111-111</p> -->
    </app-info-box>
  </div>
</div>
