.medium-class {
    background: rgb(179, 114, 114);
    width: 5rem;
    border : 1px solid black;
}
.large-class {
    background: rgb(56, 1, 18);
    width: 8 rem;
    border : 1px solid black;
}
.small-class {
    background: rgb(126, 179, 77);
    width: 2rem;
    border : 1px solid black;
}