<div fxLayout="row" fxLayoutAlign="baseline">
  <div fxFlex="0 0 93%">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Search Picture</mat-label>
        <input matInput />
      </mat-form-field>
    </form>
  </div>
  <div>
    <button mat-flat-button color="primary">Search</button>
  </div>
</div>

<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center baseline">
    <div><app-card name = "A Natural View"></app-card></div>
    <div><app-card name = "Newspaper"></app-card></div>
    <div><app-card name = "Favorite pizza"></app-card></div>
    <div><app-card name = "Abstract design"></app-card></div>
    <div><app-card name = "Tech"></app-card></div>
    <div><app-card name = "Nightlife"></app-card></div>

</div>
